.copy-button {
    background: none;
    text-align: center;
    font-family: 'Inter';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    color: #ffffff;
    border: 0.4rem solid #151111;
    text-transform: uppercase;
}

.copy-button:hover {
    background: none;
    cursor: pointer;
}