.copy-button {
    background: none;
    text-align: center;
    font-family: 'Inter';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    color: #ffffff;
    border: 2px solid white;
    text-transform: uppercase;
    margin: 3rem 1rem;
}

.copy-button:hover {
    background: none;
    cursor: pointer;
}