.modal {
    background-color: #151111;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal::before,
.modal::after {
    content: '';
    position: absolute;
    background-size: 400%;
    width: calc(100%);
    height: calc(100%);
    z-index: -1;
    animation: animate 25s linear infinite;
}

.modal::after {
    filter: blur(1.5rem);
}

#modal-content {
    color: #ffffff;
    text-align: center;
    font-family: 'Inter';
    font-size: 2.5rem;
    font-style: normal;
    height: 100%;
    padding: 15% 0;
}

#close-button {
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 0 0 0 auto;
    border: none;
    background: none;
    padding: 1rem;
    cursor: pointer;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media (max-width: 800px) {
    #modal-content {
        margin: 1rem;
        font-size: 200%;
    }
}