.title {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 12.5px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    background-color: #151111;
    min-height: 100vh;
    overflow: hidden;
}

.startButton {
    margin: 180px;
    width: 320px;
    height: 160px;
    background: green;
    text-align: center;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    color: #ffffff;
    border: none;
}

.startButton:hover {
    background: #3dbc3d;
    cursor: pointer;
}

.guessGrid {
    width: 900px;
    height: 560px;
    flex-shrink: 0;
    background: #3F3333;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.rowContainer {
    width: 100%;
    height: 100%;
}

.row {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 15% 15%;
    border-bottom: 6px solid #151111;
}

.header {
    background-color: #151111;
    font-size: 30px;
    font-weight: 800;
}

.ele {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    border-right: 6px solid #151111;
    text-align: center;
}

.eleEnd {
    border-right: none;
}

.correct {
    background-color: #3dbc3dc6;
}

.near {
    background-color: #e5e53cc6;
}

.floor {
    font-size: 48px;
    font-weight: 800;
}