.ele {
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 140%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    border-right: 0.4rem solid #151111;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.correct {
    background-color: #3dbc3dc6;
}

.near {
    background-color: #e5e53cc6;
}

.country {
    font-size: 300%;
}

.floor {
    font-size: 300%;
    font-weight: 800;
    width: 100%;
    border-right: none;
}

.hint {
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

@media (max-width: 800px) {

    .ele {
        font-size: 1em;
    }

    .country {
        font-size: 200%;
    }

    .floor {
        font-size: 200%;
    }

    .hint {
        font-size: 0.5rem;
    }
}

.hide-box {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: #151111;
    bottom: 0;
}

.on-reveal {
    display: block;
    animation: reveal 1s;
    animation-fill-mode: forwards;
}

@keyframes reveal {
    0% {
        display: block;
        height: 100%;
    }
    100% {
        display: none;
        height: 0;
    }
}