.ele {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-size: 140%;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
    border-right: 0.4rem solid #151111;
    text-align: center;
}

.correct {
    background-color: #3dbc3dc6;
}

.near {
    background-color: #e5e53cc6;
}

.country {
    font-size: 300%;
}

.floor {
    font-size: 300%;
    font-weight: 800;
    width: 100%;
    border-right: none;
}

@media (max-width: 800px) {

    .ele {
        font-size: 100%;
    }

    .country {
        font-size: 200%;
    }

    .floor {
        font-size: 200%;
    }
}