.title {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1rem;
    margin: 0;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home {
    background-color: #151111;
    min-height: 100vh;
    overflow: hidden;
}

.guessGrid {
    width: 80%;
    height: 35rem;
    background: #3F3333;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.rowContainer {
    width: 100%;
    height: 100%;
}

.row {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 15% 15%;
    border-bottom: 0.4rem solid #151111;
}

#startButton {
    width: 20rem;
    height: 10rem;
    margin: 11.5rem;
}

#playAgainButton {
    width: 20rem;
    height: 5rem;
    margin: 2rem auto;
}

.header {
    writing-mode: sideways-lr;
    text-orientation: sideways;
    background-color: #151111;
    font-size: 1rem;
    font-weight: 800;
    cursor: auto;
}

.titleBar {
    width: 100%;
    height: 7rem;
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    align-items: center;
}

.guesses {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.recommendation {
    text-align: center;
    font-family: 'Inter';
    font-size: 1.3rem;
    font-weight: 200;
    line-height: normal;
    color: #ffffff;
}

.recommendation > span {
    font-style: italic;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
}

.recommendation > span:hover {
    font-weight: 600;
    cursor: pointer;
}

#guesses {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 800px) {

    .title {
        font-size: 200%;
    }

    .guesses {
        margin-top: 1rem;
        font-size: 200%;
    }

    .header {
        background-color: #151111;
        writing-mode: vertical-lr;
        text-orientation: upright;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 40% 15% 15%;
    }

    .titleBar {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 3rem;
    }
}