#win-modal::before,
#win-modal::after {
    background: linear-gradient(45deg,green, #006400, #90EE90, #50C878, #228B22, #33B864);
}

#gator {
    font-weight: 800;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}